body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px #444;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("");
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px #444;
}
