@keyframes fade {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.fade {
    animation: fade 1s cubic-bezier(.215,.61,.355,1)
}

@keyframes fade-appear {
    0% {
        opacity: 0;
        transform: scale(97%)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

.fade-appear {
    animation: fade-appear 1s cubic-bezier(.215,.61,.355,1)
}

progress {
    border-radius: 9999px;
    height: 4px;
    width: 100%
}

progress::-webkit-progress-bar {
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(229 229 229/var(--tw-bg-opacity))
}

.dark progress::-webkit-progress-bar {
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(38 38 38/var(--tw-bg-opacity))
}

progress::-webkit-progress-value {
    background-color: var(--color);
    border-radius: 9999px
}

.gradient-text {
    --bg-size: 400%;
    --color-one: #f45925;
    --color-two: #f9b11f;
    background: linear-gradient(90deg,var(--color-one),var(--color-two),var(--color-one)) 0 0 /var(--bg-size) 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent
}

@media (prefers-reduced-motion:no-preference) {
    .gradient-text {
        animation: move 8s linear infinite
    }

    @keyframes move {
        to {
            background-position: var(--bg-size) 0
        }
    }
}

